*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.employee-list{
    width: 100%;
    height: 76vh;
    /* background-color: blue; */
    border: 0.1px solid rgba(128, 128, 128, 0.281);
    border-radius: 3px;
    margin: 0.8em;
    margin-right: 0.2em;
    box-shadow: -6px 6px 14px #1c0ac02c;
}
.employee-list-bar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    height: 3em;
    background-color: #1e40ae;
    border-radius: 3px;
    padding-left: 10%;
}
.employee-list-bar h3{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.85em;
}
.rank-and-name{
    width: 36%;
    display: flex;
}
.emp-rank{
    width: 22%;
}
.hours-and-changes{
    display: flex;
    width: 100%;
}
.others{
    width: 60%;
    display: flex;
}
.emp-designation{
    width: 63%;
}
.emp-hours{
    width: 65%;
}
/* For tablets */
@media (max-width:1024px) and (min-width: 769px) {
    .employee-list{
        padding-left: 0%;
        height: max-content;
    }
    .emp-designation{
        width: 40%;
    }
    .rank-and-name{
        width: 35%;
    }
    .hours-and-changes{
        width: 70%;
    }
}

@media (max-width:480px) and (min-width: 320px) {
    .employee-list{
        width: 93%;
        height: max-content;
    }
    .employee-list-bar{
        padding-left: 0%;
    }
    .rank-and-name{
        width: 35%;
        padding-bottom: 1em;
    }
    .emp-rank{
        width: 82%;
    }
    .employee-list-bar h3{
        font-size: 0.75em;
    }
    .emp-designation{
        width: 50%;
    }
    .others{
        width: 90%;
    }
    .hours-and-changes{
        width: 80%;
    }
    .emp-hours{
        width: 53%;
    }
    .emp-changes{
        width: 40%;
    }
}
