@font-face {
    font-family: Roboto;
    src: url('../assets/font/Roboto-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url('../assets/font/Roboto-Thin.ttf');
    font-weight: 100;
}
.employee-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 23%;
    height: 60vh;
    /* background-color: white; */
    background: linear-gradient(90deg, rgba(146, 207, 245, 0.148),white,rgba(184, 122, 251, 0.148));
    margin: 0.8em;
    box-shadow: 6px 6px 14px #1c0ac010;
    border: 0.1px solid rgba(128, 128, 128, 0.281);
    border-radius: 12px;
    padding: 0.5em;
    gap: 0.2em;
}
.emp-img{
    width: 100%;
    border-radius: 3px;
}
.employee-card div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
}
.employee-card h2{
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    color: #1e40ae;
}
.employee-card h3{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 0.85em;
}
.employee-card p{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 0.65em;
}
.eom-icon{
    width: 70%;
    height: 85%;
}

/* Responsive Design */
/* For larger screens */
@media (min-width: 1201px) {
    
}
/* For tablets */
@media (max-width:1024px) and (min-width: 769px) {
    .employee-card{
        height: 23vh;
    }
    .employee-card h2{
        /* font-size: 0.5em; */
        text-align: center;
    }
    .employee-card h3{
        font-size: 0.6em;
    }
    .employee-card p{
        font-size: 0.5em;
    }
}


/* For smaller mobile devices */
@media (max-width:480px) and (min-width: 320px) {
    .employee-card{
        height: 15vh;
        width: 93%;
        flex-direction: row;
    }
    .emp-img{
        width: 50%;
        height: 100%;
    }
    .employee-card h2,h3{
        text-align: center;
    }
    .eom-icon{
        display: none;
    }
}
