/* Base styles for the employee list item */
.employee-list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff; 
    padding: 1.8em;
    height: 2em;
    width: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 0.85em;
    padding-left: 2%;
    border-bottom: 0.1px solid rgba(192, 192, 192, 0.405);
}

/* Styles for even numbered list items */
.employee-list-item.even {
    background-color: #ffffff;
}

/* Styles for odd numbered list items */
.employee-list-item.odd {
    background-color: #f9fafc;
}

/* Styles for the rank icon */
.rank-icon{
    width: 1.4em;
}
.rank-icon-pos{
   width: 9%;
}
.ran-and-nam{
    width: 36%;
    display: flex;
}
.employee-rank{
    width: 28%;
}

/* Styles for the employee photo */
.employee-photo{
    width: 1.2em;
}
.other-data{
    /* background-color: blue; */
    width: 61%;
    display: flex;
    /* gap: 8em; */
}
.pic-and-name{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.4em;
}
.employee-hours-change{
    width: 100%;
    display: flex;
    /* gap: 12em; */
}
.employee-hours{
    width: 62%;
}

/* Styles for the caret up icon */
.caret-up-green{
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
}

/* Styles for the caret down icon */
.caret-down-red{
    filter: invert(17%) sepia(86%) saturate(7495%) hue-rotate(356deg) brightness(96%) contrast(123%);

}
.employee-change{
    width: 38%;
    display: flex;
    align-items: center;
}
.employee-designation{
    width: 62%;
}

/* for mobile devices */
@media (max-width:480px) and (min-width: 320px) {
.employee-list-item{
    font-size: 0.8em;
}
.ran-and-nam{
    width: 26%;
}
.employee-rank{
    width: 30%;
    padding-top: 0.8em;
}
.employee-designation{
    width: 100%;
    padding-left: 0.5em;
}
.pic-and-name{
    padding-right: 0.5em;
    padding-left: 0.3em;
}

.rank-icon-pos{
    width: 7%;
}
.employee-hours{
    padding-left: 0.7em;
}
.employee-change{
    padding-left: 0.9em;
}

}