*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* custom font */
@font-face {
    font-family: Roboto;
    src: url('../assets/font/Roboto-Regular.ttf');
    font-weight: 400;
}

/* Styles for the top bar component */
.top-bar{
    width: auto;
    height: 5em;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Styles for the logo and heading section within the top bar */
.logo-and-heading{
    display: flex;
    align-items: center;
    gap: 0.8em;
    padding: 0.8em;
}

/* Styling the heading (h1) within the logo-and-heading span */
.logo-and-heading span h1{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

/* Styling the logo image within the logo-and-heading span */
.logo-and-heading span img{
    width: 3em;
}

/* Styles for the date and time display within the top bar */
.date-time{
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    align-items: end;
    padding: 0.8em;
}

/*adding Responsiveness */
/* For larger screens */
@media (min-width: 1201px) {
    .top-bar {
        height: 6em; 
    }
    .logo-and-heading span h1 {
        font-size: 1.5em; 
    }
}

/* For smaller laptops */
@media (max-width:1200px) and (min-width: 1025px) {
    .logo-and-heading span h1 {
        font-size: 1.5em; 
    }
}

/* For tablets */
@media (max-width:1024px) and (min-width: 769px) {
    .top-bar {
        height: 4em; 
    }
    .logo-and-heading span img {
        width: 2.5em; 
    }
    .logo-and-heading span h1{
        font-size: 1.5em;
    }
}

/* For mobile devices */
@media (max-width:768px) and (min-width: 481px) {
    .top-bar {
        height: 4.5em; /* Adjust height for mobile devices */
    }
    .logo-and-heading span img {
        width: 2em; /* Decrease logo size for mobile devices */
    }
    .logo-and-heading span h1{
        font-size: 1.3em;
    }
    .date-time{
        font-size: 0.8em;
    }
}

/* For smaller mobile devices */
@media (max-width:480px) and (min-width: 320px) {
    .top-bar {
        height: 3.5em; 
        padding-right: 0.6em;
    }
    .logo-and-heading span img {
        width: 2em;
    }
    .logo-and-heading span h1{
        font-size: 0.9em;
        font-weight: 500;
    }
    .top-bar{
        padding-top: 1em;
    }
    .date-time{
        font-size: 0.6em;
    }
    .logo-and-heading{
        width: auto;
        gap: 0.4em;
    }
}
